.nav-line {
    margin-bottom: 2rem;
    text-align: right;
}

.nav-line .nav-link {
    margin-left: 0.75rem;
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
}

.nav-line span.nav-link {
    margin-left: 0.75rem;
    --text-opacity: 1;
    color: #1a202c;
    color: rgba(26, 32, 44, var(--text-opacity));
    cursor: default;
}